.App {
    padding: 10px;
    min-height: 100vh;
    box-sizing: border-box;
}

.autocomplete-item {
    cursor: pointer;
    padding: 10px;
    max-width: 200px;
    border: 2px solid gainsboro;
    margin: 5px auto;
}
